.Button {
    height: 3rem;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: .5rem;
    gap: .3rem;
    cursor: pointer;
    font-size: 1rem;
}

.default {
    background-color: #3badfb;
    color: white;
}

.transparent {
    background-color: transparent;
    border: transparent;
    color: inherit;
}

.loading {
    animation: rotating ease infinite 1s;
}

@keyframes rotating {
    to {
        rotate: 360deg;
    }
}

@media (max-width: 756px) {
    .hideLabelInMobile span {
        display: none;
    }
}