.Search {
	height: 3rem;
	display: flex;
	align-items: center;
	gap: .5rem;
	border: 1px solid #CAC9CD;
	border-radius: .5rem;
	padding: .5rem 1rem;
	max-width: 30rem;
	width: 100%;
	flex: 1;
}

.Search input {
	outline: none;
	border: none;
	background: transparent;
	color: inherit;
	width: 100%;
	font-size: 1rem;
}

.Search ::placeholder {
	color: inherit;
}

/* Estilo para quando o input for focado */
.Search:has(input:focus) {
	box-shadow: 0 0 1rem -.3rem #16aaff;
	border-color: #16aaff;
}