:root{
	--bg-color: #2A233C;
	--text-color: #CAC9CD;
	--text-color-disabled: #E7E3FC80;
	--text-size: min(2.4vw, 12px); /* Adiciona uma leve responsividade à interfaces mobile */
}

html {
	font-size: var(--text-size);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg-color);
	color: var(--text-color);
}



code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
	width: 1rem;
	height: 1rem;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
	background: #2e2e2e;
	border-radius: 1rem;
}

/* Botão da barra de rolagem */
::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 1rem;
	border: .2rem solid #2e2e2e;
}

/* Botão da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
	background-color: #888;
}

/* Botão da barra de rolagem ao clicar */
::-webkit-scrollbar-thumb:active {
	background-color: #aaa;
}